body {
	background-color: rgb(37, 38, 47);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#tictactoe {
	color: white;
	font-family: 'Varela Round', sans-serif;
}
#game-board {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 275px;
	height: 275.5px;
	border: 0.01px solid rgba(43, 40, 51, 0.5);
	
}

.row {
	display: flex;
}

.cell {
	border: 0.001em solid rgb(171, 171, 171);
	width: 90px;
	height: 90px;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	color: white;
	background-color: rgb(39, 42, 61);
	border-width: 0.1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:hover {
	background-color: lightgray;
}

#reset-button {
	margin-top: 20px;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(0, 179, 0);
	color: white;
}
