body {
	background-color: rgb(37, 38, 47);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	font-family: 'Varela Round', sans-serif;
	margin-top: 180px;
}

#tictactoe {
	color: white;
	font-family: 'Varela Round', sans-serif;
}
#game-board {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 275px;
	height: 275.5px;
	border: 0.01px solid rgba(43, 40, 51, 0.5);
	visibility: hidden;
	
}

.row {
	display: flex;
}

.cell {
	border: 0.001em solid rgb(171, 171, 171);
	width: 90px;
	height: 90px;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	color: white;
	background-color: rgb(39, 42, 61);
	border-width: 0.1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:hover {
	background-color: lightgray;
}

#resetButton {
	margin-top: 20px;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(0, 179, 0);
	color: white;
	visibility: hidden;
}

#undo {
	margin-top: 20px;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(0, 179, 0);
	color: white;
	visibility: hidden;
}

#redo {
	margin-top: 20px;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(0, 179, 0);
	color: white;
	visibility: hidden;
}

#player {
	margin-top: 20px;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(0, 179, 0);
	color: white;margin-bottom: 25px;
	visibility: hidden;
}

#playermodal {
	z-index: 1;
	position: absolute;
	top: 32%;
	height: 280px;
	width: 350px;
	background-color: rgb(39, 42, 61);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
    /* visibility: hidden; */
}
#playermodal h3 {
	text-align: center;
}
#playermodal .playerside {
	margin-top: 20px;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(0, 179, 0);
	color: white;margin-bottom: 25px;
}
